@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }

    #temple-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    #temple-container {
        grid-template-columns: repeat(3, 1fr);
    }
}