/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #FFA500;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Section styles */
.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #000000;
    margin-bottom: 10px;
    background-color: #A9A9A9;
}

/* UL and LI styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    background-color: #FFA500; /* Orange for the background */
    color: #000000; /* text color */
}

ul li:nth-child(even) {
    background-color: #A9A9A9; /* Medium Dark gray for alternating items */
    color: #000000; /* text color */
}

/* Wireframe images container */
.wireframe-container {
    display: grid;
    gap: 20px;
}

/* Individual wireframe item */
.wireframe-container div {
    text-align: center;
}

/* Responsive styles */
@media (min-width: 768px) {
    .wireframe-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Wireframe images */
.wireframe-container img {
    width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #FFA500;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}